/*Responsive Design*/
@media (min-width: 850px) {
    nav{
        max-width: 1200px;
        margin: 10px 2rem;
    }

    nav li:first-child{
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}