:root {
    --basic-color-one: #011627;
    --action-color: #FC6471;
    --action-dark-color: #9b3840;
    --action-hot-color: #ff4555;
    --color-one: #AFECE7;
    --basic-color-two: #f7f8fa;

    --font-size: 1.3rem;
    --encode-sans: "Encode Sans", sans-serif;
    --madami-one: "Madimi One", sans-serif;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: var(--encode-sans);
    background-color: var(--basic-color-one);
    color: var(--basic-color-two);
    font-size: var(--font-size);
}

/*Navigation styles*/
nav [class*='fa-'] {
    font-size: 150%;
    color: var(--color-one);
}

nav [class*='fa-']:hover{
    color: var(--action-hot-color);
}

nav h1 [class*='fa-']{
    font-size: 100%;
}

.button{
    background-color: var(--action-color);
    text-decoration: none;
    color: var(--basic-color-two);
    padding: .5rem;
    border-radius: 5px;
}

.button:hover{
    color: var(--basic-color-two);
    background-color: var(--action-hot-color);
}

nav ul{
    text-align: left;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    list-style-type: none;
    flex-flow: row wrap;
    width: 100%;
}

nav li:first-child{
    flex-basis: 100%;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: var(--basic-color-two);
    display: block;
}

nav h1{
    font-family: var(--madami-one);
}

/*Basic Styles*/
h1, h2, h3{
    margin: 0px;
}

a{
    color: var(--action-color);
}

a:hover{
    color: var(--action-hot-color);
}

/*Intro styles*/
#intro{
    padding: 4rem 1rem 10rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

#intro p{
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name{
    font-family: 'Courier New', Courier, monospace;
}

.name span{
    font-family: var(--madami-one);
    font-size: 4rem;
    color: var(--color-one);
    display: block;
}

#intro h2{
    font-size: 4rem;
    font-weight: normal;
}

/*Contact Styles*/
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--action-dark-color);
    padding: 3rem 20%;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto;   
}

footer div{
    display: flex;
    column-gap: 4.5rem;
    margin: 3rem auto;
}

footer p{
    margin: 0px;
}

footer [class*='fa-']{
    font-size: 50px;
}